{% extends 'main/main.html' %}

{%block title%} Flask Firebase | melpCode {%endblock%}
{%block about%}

<div class="jumbotron p-4">
    <h1 class="display-4 font-weight-bold">About:</h1>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic et consequatur nam facilis, voluptates cumque dolor laboriosam ducimus perferendis neque eos animi autem cupiditate accusamus laudantium amet, possimus, labore nulla repellat ipsam accusantium fugit totam! Sapiente, soluta? Nesciunt, sapiente amet. Asperiores, cumque, quis sit reiciendis nam nostrum aspernatur minima magnam similique delectus blanditiis? Aliquam illo excepturi omnis quisquam? Numquam quidem maiores voluptates voluptatibus beatae dignissimos asperiores architecto aut. Nemo alias voluptates officia quasi velit atque accusamus repellat ipsam, delectus magni.</p>
</div>



{%endblock%}